#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    margin-bottom: 80px;
}

.box-profile {
    margin: 40px auto 0;
}

.box-profile img {
    display: block;
    border-radius: 50%;
    max-width: 80px;
    min-width: 80px;
    min-height: 80px;
    width: 100%;
    background: #f5f5f5;
}

h1,
h2,
h3,
h4 {
    font-size: 14px;
    font-weight: 600;
}

h1 {
    text-align: center;
}

h1 span {
    color: #d5d5d5;
    display: block;
    font-size: 11px;
    text-align: center;
    font-weight: normal;
}

.ul-button {
    padding: 0 10px;
}

.ul-button li {
    margin: 0 0 20px;
    max-width: 340px;
}

.ul-button li>a,
.ul-button li>.box-snc {
    display: block;
    padding-bottom: 10px;
    border-radius: 8px;
    border: 1px solid #f9f9f9;
    box-shadow: 5px 7px 9px 2px rgba(0, 0, 0, 0.06);
    -webkit-box-shadow: 5px 7px 9px 2px rgba(0, 0, 0, 0.06);
    -moz-box-shadow: 5px 7px 9px 2px rgba(0, 0, 0, 0.06);
}

.ul-button li a .box-thumb {
    max-width: 120px;
}

.ul-button li a .box-thumb .img-thumb {
    width: 100%;
    min-width: 120px;
    margin: 10px 0 0 10px;
}

.ul-button li>.box-snc .box-thumb img {
    width: 100%;
    border-radius: 4px 4px 0 0;
}

.ul-button li a .box-thumb {
    position: relative;
}

.ul-button li a .box-txt {
    margin: 10px 10px 0 0;
}

.ul-button li a .box-thumb .img-watermark {
    width: auto;
    min-width: auto;
    height: 12px;
    opacity: .7;
    background: none;
    position: absolute;
    top: 4px;
    left: 4px;
}

.ul-button li a .box-thumb .img-watermark.class101 {
    margin: 10px 0 0 10px;
}

.ul-button li a .box-thumb .img-watermark.tumblbug {
    margin: 10px 0 0 10px;
    height: 20px;
}

.ul-button li a .box-thumb .img-watermark.wadiz {
    margin: 5px 0 0 2px;
    height: 24px;
}

.ul-button li .box-snc .txt-title,
.ul-button li a .txt-title {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 10px;
    font-weight: 500;
    word-break: keep-all;
}

.ul-button li .box-snc .box-desc,
.ul-button li a .box-desc {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.ul-button li a .box-desc .txt-progress {
    color: #ff5213;
    font-size: 13px;
    font-weight: bold;
}

.ul-button li a .box-desc .txt-due {
    color: grey;
    font-size: 13px;
    font-weight: normal;
}

.ul-button li .txt-cta {
    display: flex;
    margin: 20px 10px 10px;
    font-size: 12px;
    color: #ff5213;
    justify-content: center;
    align-items: center;
    line-height: 1;
    font-weight: 500;
    justify-content: flex-end;
}

.ul-button li .txt-cta i {
    color: inherit;
    margin-left: 5px;
}

.ul-button li .txt-desc {
    display: flex;
}

.ul-button li .txt-desc span i {
    color: #ff5213;
    position: relative;
    top: 5px;
    font-size: 16px;
    display: inline-block;
    margin-right: 6px;
}


.ul-career {
    max-width: 340px;
    width: calc(100vw - 32px);
    padding: 0 16px;
    text-align: left;
}

.ul-career li {
    position: relative;
    margin-bottom: 8px;
    font-size: 12px;
}

.ul-career li:before {
    display: inline-block;
    position: relative;
    top: -2px;
    width: 3px;
    height: 3px;
    border: 1px solid #333;
    border-radius: 50%;
    margin-right: 6px;
    content: '';
}

.ul-career li a {
    color: #ff5213;
    text-decoration: underline;
}

.box-snc .txt-desc {
    font-size: 13px;
    color: grey;
}

.box-snc .box-downoload {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    padding: 0 10px;
}

.box-snc .btn-app-download {
    display: block;
}

.box-snc .btn-app-download img {
    width: 100%;
}

.ul-button li .txt-cta.disabled {
    color: grey;
}

.ul-button li .txt-desc.txt-gadget {
    font-size: 11px;
    color: #999;
}

.ul-button .box-cont {
    display: flex;
    gap: 20px;
}

.box-snc .box-txt {
    margin: 10px 10px 0;
}

.txt-author {
    margin-top: 30px;
    font-weight: 500;
}

.label {
    display: block;
    margin-bottom: 5px;
    font-weight: 400;
}

.label,
.label i {
    font-size: 12px;
    color: #ff0900;
}