.landing-container .box-content {
    max-width: none;
}

.box-header-content {
    max-width: 1124px;
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box-header .box-logo {
    display: flex;
    align-items: center;
    gap: 12px;
}

.box-header-content .box-menu {
    display: flex;
    align-items: center;
    gap: 24px;
    font-size: 20px;
    font-weight: 300;
}

.box-header-content .box-menu a {
    letter-spacing: 0;
}

.container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: none;
    padding:0;
}

.box-header {
    position: relative;
    z-index: 2;
    background: linear-gradient(180deg, rgb(245, 249, 252) 0.00%,rgb(255, 255, 255) 100.00%);
}

.box-hero {
    margin-top: -72px;
    position: relative;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-hero .bg {
    display: block;
    position: absolute;
    background: rgba(0,10,20,0.7);
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index: 1;
}

.box-hero video {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1000;
    overflow: hidden;
}

.box-hero .box-txt {
    padding-top: 72px;
    position: relative;
    z-index: 2;
    text-align: center;
}

.box-hero .box-txt h1,
.box-hero .box-txt p,
.box-hero .box-txt b,
.box-hero .box-txt span {
    color:#fff;
}

.box-hero .box-txt h1 {
    font-size: 48px;
    margin-bottom: 48px;
    line-height: 1.5;
}

.box-hero .box-txt h1 span {
    font-size: 48px;
    font-weight: 900;
}


.box-hero .box-txt p {
    font-size: 22px;
    line-height:2.2;
    font-weight: 300;
    margin-bottom: 48px;
}

.landing-container .card {
    max-width: 720px;
}

.landing-container section {
    max-width: 1124px;
    margin: 0 auto;
    padding: 0 24px;
}

.landing-container .box-free-book {
    display: flex;
    padding:104px 0;
    gap: 72px;
}

.landing-container .box-free-book .box-book,
.landing-container .box-free-book .box-form {
    width:50%;
}

.landing-container .box-free-book .txt-free-book {
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 12px;
    color:#666;
}

.landing-container .box-free-book h2 {
    font-size: 40px;
}

.landing-container .txt-title {
    font-size: 16px;
    line-height: 2;
    margin-bottom: 24px;
}

.landing-container .txt-title span {
    font-weight: bold;
}

.box-footer {
    margin-top: 100px;
    border-top:1px solid #eee;
}

.box-footer .box-content {
    max-width:1124px;
    width: 100%;
    height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.box-letter {
    padding: 120px 20px;
    background-color: #fff;
}

.box-letter .txt-receiver {
    font-weight: bold;
    font-size: 20px;
}

.box-letter .txt-letter {
    font-size: 18px;
    line-height: 1.7;
    color: #555;
    font-weight: 300;
    word-break: keep-all;
}

.box-letter .txt-letter b {
    color: #555;
}

.txt-letter i {
    font-style: italic;
    display: block;
    text-align: center;
    font-weight: bold;
    color:#666;
    border-radius: 4px;
    border: 1px solid #eee;
    background-color: #f5f5f5;
    padding: 40px 20px;
}

.box-review {
    max-width:1124px;
    margin: 120px auto;
}

.box-review .box-layout {
    display: flex;
    gap:160px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 220px;
}

.box-review .box-txt {
    width:70%;
}

.box-review .box-txt .txt-title {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 24px;
    word-break: keep-all;
}

.box-review .box-layout.box-type2 {
    flex-direction: row-reverse;
}

.box-review .txt-desc {
    width: 80%;
    color:#666;
    font-size: 18px;
    line-height: 1.6;
    font-weight: 300;
    word-break: keep-all;
}

.box-review .box-video {
    display: block;
    width:30%;
    height: 300px;
    max-height: calc(100% * 5/3);
    background-color: #000;
    border-radius: 4px;
    overflow: hidden;
}

.box-review .box-video video {
    margin: 0;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: 200%;
    z-index: -1000;
    -webkit-transform: translateY(-25%);
    transform: translateY(-25%);
    overflow: hidden;
}

.box-review .box-video video.last-video {
    -webkit-transform: translateX(-10%) translateY(-25%);
    transform: translateX(-10%) translateY(-25%);
}

.box-challenge {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 800px;
    height: calc(100vh - 40px);
    position: relative;
    background: url(../images/challenge.png) center center no-repeat;
    background-size:cover;
}

.box-challenge .box-bg {
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color: rgba(0, 0, 10, 0.8);
    z-index: 1;
}

.box-challenge .box-content {
    text-align: center;
    position: relative;
    z-index: 2;
    padding: 0
}

.box-challenge .box-txt h3 {
    font-size: 40px;
    margin-bottom: 24px;
    color:#fff;
}

.box-challenge .box-txt h3 span {
    font-weight: 900;
    color:#fff;
    line-height: 1.7;
}

.box-challenge .box-txt p {
    font-size: 18px;
    line-height: 2.2;
    font-weight: 300;
    margin-bottom: 24px;
    color:#fff;
}

.box-challenge form {
    margin-top: 100px;
}

.box-challenge .box-txt .txt-desc {
    font-size: 18px;
    line-height: 1.6;
    font-weight: 300;
    margin-bottom: 24px;
}

.box-last-section {
    padding:120px 20px 0;
    max-width: 640px;
    margin: 0 auto;
}

.box-last-section .txt-title {
    font-size: 32px;
    font-weight: bold;
}

.box-last-section .txt-desc {
    font-size: 16px;
    line-height: 1.6;
    font-weight: 300;
    margin-bottom: 32px;
}

.box-story-video {
    padding: 120px 20px;
}

.box-story-video .box-content {
    max-width: 800px;
    padding: 0 20px;
    margin: 0 auto;
}

.box-story-video .box-video-frame {
    height: 100%;
    max-height: calc(800px * 3/4);
    border-radius: 4px;
    background-color: #000;
}

.box-story-video .box-video-frame video {
    display: block;
    margin: 0;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: 200%;
    overflow: hidden;
}

.box-courses {
    padding: 120px 20px;
    background: linear-gradient(270deg, rgb(245, 249, 252) 0.00%,rgb(255, 255, 255) 100.00%);
}

.box-courses .box-content {
    display: flex;
    gap: 160px;
    max-width: 1124px;
    margin: 0 auto;
    padding: 0 20px;
}

.box-courses .box-content form {
    margin-top: 36px;
    max-width: 280px;
}

.box-courses .box-content .ul-courses li {
    padding: 0 0 48px;
    font-size: 24px;
    word-break: keep-all;
}

.box-courses .box-content .ul-courses li img {
    width: 24px;
}

.box-courses .box-content .box-image {
    width: 30%;
    background: #f5f5f5;
    border-radius: 4px;
}

.fade-in-text {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s ease, transform 1s ease;
}

.fade-in-text.fade-in {
    opacity: 1;
    transform: translateY(0);
}

.fade-in-text.fade-out {
    opacity: 0;
    transform: translateY(-50px);
}

@media (max-width: 640px) {
    .box-hero .box-txt {
        padding: 72px 20px 0;
    }

    .box-hero .box-txt h1 {
        font-size: 32px;
        margin-bottom: 24px;
    }

    .box-hero .box-txt h1 span {
        font-size: 32px;
    }

    .box-hero .box-txt p {
        font-size: 16px;
        margin-bottom: 24px;
    }

    .landing-container .box-free-book {
        flex-direction: column;
        padding: 64px 20px;
        gap: 24px;
    }

    .landing-container .box-free-book .box-book,
    .landing-container .box-free-book .box-form {
        width:100%;
    }

    .landing-container .box-free-book .txt-free-book {
        font-size: 14px;
        padding-bottom: 8px;
    }

    .landing-container .box-free-book h2 {
        font-size: 32px;
    }

    .landing-container .txt-title {
        font-size: 16px;
        margin-bottom: 16px;
    }

    .landing-container .txt-title span {
        font-weight: bold;
    }

    .box-courses .box-content {
        flex-direction: column-reverse;
        padding: 0;
        gap: 40px;
    }

    .box-courses .box-content .ul-courses li {
        padding: 16px 0;
        font-size: 16px;
    }

    .box-courses .box-content form {
        margin-top: 40px;
        max-width: 100%;
    }

    .box-courses .box-content .ul-courses li img {
        width: 16px;
    }

    .box-courses .box-content .box-image {
        width: 100%;
    }

    .box-review {
        padding: 0 20px;
    }
    .box-review .box-layout {
        flex-direction: column;
        gap: 0;
        margin-bottom: 120px;
    }
    .box-review .box-layout.box-type2 {
        flex-direction: column;
    }

    .box-review .box-txt {
        width:100%;
    }

    .box-review .box-txt .txt-title {
        font-size: 24px;
        margin-bottom: 16px;
    }

    .box-review .txt-desc {
        width: 100%;
        font-size: 16px;
        line-height: 1.6;
    }

    .box-review .box-video {
        width:100%;
        height: 200px;
    }

    .box-review .box-video video.last-video {
        -webkit-transform: translateY(-20%);
        transform: translateY(-20%);
    }

    .box-challenge {
        min-height: 600px;
    }

    .box-challenge .box-txt h3 {
        font-size: 32px;
        margin-bottom: 16px;
    }

    .box-challenge .box-txt h3 span {
        font-weight: 900;
        line-height: 1.7;
    }

    .box-challenge .box-txt p {
        font-size: 16px;
        line-height: 2.2;
        margin-bottom: 16px;
    }

    .box-challenge .box-txt .txt-desc {
        font-size: 14px;
        line-height: 1.6;
        margin-bottom: 16px;
    }

    .box-challenge form {
        padding: 0 20px;
        margin-top: 40px;
    }

    .box-challenge form button {
        width: 100%;
        font-size: 18px;
    }

    .box-footer .box-content {
        flex-direction: column;
        justify-content: center;
        padding:24px;
        gap: 24px;
        height: 200px;
    }

    .box-footer .box-content .box-menu {
        flex-direction: column;
        gap: 16px;
    }

    .box-footer .box-content .box-menu a {
        font-size: 14px;
    }

    .box-last-section .txt-title {
        font-size: 28px;
    }
}