@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Noto+Sans+KR:wght@400;700;900&display=swap');

b {
    font-weight: bold;
}

h1, h2, h3 {
    font-size:40px;
    font-family: 'Black Han Sans', sans-serif;
    word-break: keep-all;
    line-height: 1.1;
}

h1 .month {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight:900;
    line-height: 0;
}

h2 {
    font-size: 26px;
    margin-bottom: 24px;
}

h3 {
    font-size: 24px;
    margin-bottom: 24px;
}

u {
    text-decoration: underline;
}

p,span,div,a,strong,li {
    font-family: 'Noto Sans KR', sans-serif;
}

body {
    background: linear-gradient(180deg, rgb(245, 249, 252) 0.00%,rgb(255, 255, 255) 100.00%);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height:100vh;
}

.box-content {
    width:100%;
    max-width: 480px;
    margin:0 auto;
}

.card {
    padding: 56px 20px;
    box-shadow: 0px 10px 40px 0px rgba(29, 46, 59, 0.15);
    background: #ffffff;
    width:100%;
    margin: auto;
    text-align: center;
    border-radius: 10px;
    border:none;
    margin-bottom: 100px;
}

.box-header {
    display: flex;
    gap: 16px;
    padding: 16px;
    justify-content: center;
    align-items: center;
}

.box-header .box-profile {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-header .box-profile img {
    display: block;
    width:100%
}

.box-header .box-name {
    display: flex;
    font-weight: bold;
}

.box-header .box-name .txt-name::after {
    position: relative;
    top: 12px;
    margin: 0 8px;
    display: block;
    content: '';
    width: 4px;
    height: 4px;
    border-radius: 4px;
    background-color: lightgray;
    float: right;
}

.txt-title {
    word-break: keep-all;
    padding: 16px 0 24px;
    font-size: 0.875rem;
    letter-spacing: -0.025em;
    line-height: 1.6;
}

.txt-title2 {
    font-size: 1rem;
}

.progress {
    position: relative;
    display: block;
    overflow: hidden;
    width: 100%;
    height: 6px;
    border-radius: 3px;
    background-color: #E4E6E8;
    box-shadow: none;
}

.progress__bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    -webkit-transition: width 0.6s ease;
    -o-transition: width 0.6s ease;
    transition: width 0.6s ease;
    background-color: #ff4f02;
    border-radius: 3px;
}

.progress__bar--animated {
    background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.1) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    animation: progress-bar-stripes 1s linear infinite;
    background-size: 12px 12px;
}

.txt-step {
    margin: 12px 0 12px;
    letter-spacing: 0;
    line-height: 1.4;
    font-size: 0.75rem;
    color:rgb(152 160 166);
}

.box-term {
    margin-top: 24px;
}

.txt-term {
    font-size: 0.75rem;
    color: rgb(77, 82, 86);
    word-break: keep-all;
}

.txt-term i {
    display: inline-block;
    margin-right: 4px;
}

button {
    display: block;
    width: 100%;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.13);
    border-style: solid;
    border-radius: 3px;
    margin-top: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 0px 4px 8px 0px rgba(0, 28, 56, 0.15);
    background: #ff4f02;
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-family: "Inter", sans-serif;
    font-weight: 800;
    letter-spacing: 0;
    line-height: 100%;
    transition: background .2s ease;
}

button:hover {
    background: #be420c;
}

button i {
    color:rgb(255, 255, 255);
    display: inline-block;
    margin:0 4px;
}

button i.fa-spinner {
    display: none;
}

/* input */
[data-page-element="Input/V1"] {
    margin: 0px auto;
    margin-top: 10px;
    font-family: inherit;
    position: relative;
    padding: 0 !important;
    --label-padding-on-focus: 4px;
    border: 0 !important;
}

[data-page-element="Input/V1"] .elInput {
    width: 100%;
    font-size: 16px;
    background: transparent;
    border: 0;
    z-index: 1;
    position: relative;
}

[data-page-element="Input/V1"] .elLabel {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    pointer-events: none;
    border-radius: inherit;
    display: flex;
    border-width: inherit;
}
[data-page-element="Input/V1"] [data-input-status-type] {
    position: initial !important;
    border: none !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    margin-left: 2px;
    top: -10px;
}
[data-page-element="Input/V1"] .inputHolder {
    background: transparent;
    border-radius: inherit;
    border-color: transparent !important;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 4px;
}
[data-page-element="Input/V1"] .borderHolder {
    margin: 0 !important;
    box-shadow: none !important;
    background: #ffffff;
}

[data-page-element="Input/V1"] .elLabel .borderHolder:first-child {
    padding-right: 0 !important;
}
.borderHolder {
    border-radius: 4px;
}
.borderHolder {
    background: #fff;
}
.inputHolder, .borderHolder {
    padding-top: 15px;
    padding-bottom: 15px;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(213, 213, 213);
    padding-left: 15px;
    padding-right: 15px;
}
[data-page-element="Input/V1"] .borderHolder:first-child {
    border-right: none !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}
.borderHolder {
    background: #fff;
}
.labelText {
    color: var(--color-6Z-dzM8-1);
}
.inputHolder, .borderHolder {
    padding-top: 15px;
    padding-bottom: 15px;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(213, 213, 213);
    padding-left: 15px;
    padding-right: 15px;
}

[data-page-element="Input/V1"] .labelText {
    flex: 0 0 auto;
    width: auto;
    color: rgb(21, 21, 23);
    padding-left: var(--label-padding-on-focus) !important;
    padding-right: var(--label-padding-on-focus) !important;
    border-right: none !important;
    border-left: none !important;
    flex-grow: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    border-radius: 0 !important;
    font-size: 14px;
}
[data-page-element="Input/V1"] .borderHolder {
    margin: 0 !important;
    box-shadow: none !important;
    background: #ffffff;
}

.elFormItemWrapper, .inputHolder, .borderHolder {
    border-radius: 4px;
}
 .borderHolder {
    background: #fff;
}
 .inputHolder,  .borderHolder {
    padding-top: 15px;
    padding-bottom: 15px;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(213, 213, 213);
    padding-left: 15px;
    padding-right: 15px;
}
[data-page-element="Input/V1"] .borderHolder:last-child {
    border-left: none !important;
    flex-grow: 1;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    padding-left: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
[data-page-element="Input/V1"] .borderHolder {
    margin: 0 !important;
    box-shadow: none !important;
    background: #ffffff;
}
[data-page-element="Input/V1"].elInputFocused label, [data-page-element="Input/V1"].hasValue label {
    top: 0px;
    transform: translateY(-50%);
    border-bottom: inherit;
}
[data-page-element="Input/V1"] label {
    top: 50%;
    position: relative;
    transform: translateY(-50%);
    display: block;
    transition: all .2s ease;
    border-bottom-color: transparent !important;
}
[data-page-element="Input/V1"].elInputFocused .labelText, [data-page-element="Input/V1"].hasValue .labelText {
    font-size:12px;
    border-top-color: transparent !important;
}

input {
    outline:none;
    font-size: 16px;
}

input::placeholder {
    color:rgba(0,0,0,0);
}

input:focus::placeholder {
    color:#9a9a9a;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
   -webkit-transition-delay: 9999s;
   transition-delay: 9999s;
}

.box-book {
    margin-bottom: 12px;
}

.box-book img {
    max-width:100%;
    border-radius: 10px;
}

.box-book .txt-book-desc {
    font-size:12px;
    margin: 12px 0;
    word-break: keep-all;
}

.box-book li {
    font-size:12px;
    margin: 6px 0;
}

.box-book li span::before {
    content: "•";
    color: #000;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

.txt-highlight {
    display: flex;
    flex-direction: column;
    margin:0 auto;
    color:#000;
    margin-bottom: 24px;
    font-size:18px;
}

.txt-highlight span {
    display: block;
    margin:0 auto;
    padding: 4px 12px;
    background: yellow;
}

.box-video {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 280px;
    background-color: #f5f5f5;
    border-radius: 0 0 4px 4px;
    margin-bottom: 24px;
    display: none;
}

.box-video i {
    font-size: 48px;
    color: #ccc;
}

.box-story {
    margin-top: 64px;
}

.txt-story {
    text-align: left;
    margin-bottom: 24px;
    line-height: 1.9;
}

.txt-story span {
    color: #ff4f02;
}

.box-path {
    width: calc(100% + 20px);
    background-color: #fafafa;
    border-radius: 10px;
    padding: 56px 12px 20px;
    margin-left: -10px;
}

.box-path ol {
    text-align: left;
}

.box-path ol li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:24px;
    line-height:1.4;
    margin: 12px 0;
    font-size: 0.875rem;;
    word-break: keep-all;
}

.box-path ol li span {
    color: rgb(228, 59, 44);
    font-weight: 900;
}

.txt-total-value {
    font-weight: 900;
    font-size: 28px;
    margin: 32px 0 16px;
    word-break: keep-all;
    color: rgb(228, 59, 44);
}

.txt-if-do-now {
    word-break: keep-all;
    font-weight: bold;
    font-size: 28px;
}

.txt-free {
    font-size:120px;
    font-weight: 900;
    word-break: keep-all;
    color:#ff4f02;
    line-height:1;
}

.txt-just-cover {
    word-break: keep-all;
    margin-top: 24px;
    font-weight: bold;
}

.txt-btn-desc {
    color:rgba(255, 255, 255, 0.7);
    font-size: 16px;
    font-weight: normal;
    display: block;
    margin-top: 8px;
}

.box-prize {
    padding-top: 40px;
}

.ul-prize li {
    padding: 20px;
    box-shadow: 0px 10px 40px 0px rgba(29, 46, 59, 0.15);
    border-radius: 10px;
    margin-bottom: 16px;
}

.txt-prize-title {
    background:#333;
    color:#fff;
    font-weight: bold;
    padding: 8px 0;
    border-radius: 4px;
}

.txt-prize {
    padding: 20px 20px 0;
    line-height: 2;
    word-break: keep-all;
}

.box-timer {
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap:12px;
    align-items: center;
    justify-content: center;
    background: #333;
    border-radius: 4px 4px 0 0;
    color:#fff;
    margin-bottom: 12px;
}

.box-timer p {
    display: flex;
    gap:4px;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color:#fff;
}

.box-timer span {
    display: flex;
    padding: 0 8px;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    border:1px solid #444;
    background:#000;
    color:#fff;
    font-size: 28px;
}

.box-timer .txt-ment {
    display: block;
}

.box-timer i {
    position: relative;
    top:1px;
    font-size:14px;
    color:#fff;
}

.box-timer strong {
    color:#fff;
}

.box-waiting {
    background: #ccc;
    display: flex;
    gap: 12px;
    height: 66px;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: #666;
    border-radius: 4px;
}


.box-count {
    margin-top: 24px;
}

.txt-apply-count {
    display: none;
    font-size: 14px;
    color:gray;
}

.txt-count-loading {
    font-size: 14px;
    color:gray;
}

#num-apply-count {
    font-weight: bold;
}

.box-privacy {
    padding: 48px 20px;
    max-width:640px;
    margin:0 auto;
}

.box-privacy h1 {
    text-align: center;
}